
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    background-color: #44205e; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #765199; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.carousel {
    padding: 20px;
    background-color: #be8fe4; 
}

.carousel-container {
    max-width: 1200px;
    margin: 0 auto;
}

.carousel-images {
    display: flex;
    overflow: auto;
}

.carousel-images img {
    width: 200px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.carousel-images img:hover {
    transform: scale(1.1);
}

.carousel-text {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #44205e; 
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #765199;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.scroll-to-top:hover {
    background-color: #44205e; 
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
    }

    .navbar.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .carousel-images {
        flex-direction: column;
    }
}
